$colorClass: rgb(36, 22, 158);
$secondColor: lightgrey;
$thirdColor: white;
$sizeClass: 5px;
$borderClass: 1px solid $secondColor;
$widthSize: 70%;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: $secondColor;
}

.title{
    text-align: center;
    margin: 10px;
}

span{
    color: $colorClass;
}

.tool-bar{
    display: flex;
    justify-content: space-around;
    width: $widthSize;
    margin: auto;
    background-color: $colorClass;
    padding: $sizeClass;
}

a{
    color: $secondColor;
    text-decoration: none;
    padding: $sizeClass;
    border: $borderClass;
    border-radius: $sizeClass;
}

a:hover{
    color: $colorClass;
    background-color: $thirdColor;
}

input{
    border: $borderClass;
    border-radius: $sizeClass;
}

button{
    padding: $sizeClass;
    border-radius: $sizeClass;
}

button:hover {
    color: $colorClass;
    background-color: $thirdColor;
}

.contain{
    width: $widthSize;
    padding: $sizeClass;
    background-color: $thirdColor;
    overflow: auto;
    margin: auto;
    height: 80vh;
}

p{
    color: $colorClass;
    margin: 15px;
}